<% layout('layouts/boilerplate')%>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1591812087070-f2f9c4215634?crop=entropy&cs=srgb&fm=jpg&ixid=M3w3MzA3Njd8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQ4NDAyNDl8&ixlib=rb-4.0.3&q=85"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required>
                                <div class="invalid-feedback">
                                    Please enter a Username.
                                </div>
                                <div class="valid-feedback">
                                    looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="invalid-feedback">
                                    Please enter a Password.
                                </div>
                                <div class="valid-feedback">
                                    looks good!
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-success btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><% layout('layouts/boilerplate')%>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1591812087070-f2f9c4215634?crop=entropy&cs=srgb&fm=jpg&ixid=M3w3MzA3Njd8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQ4NDAyNDl8&ixlib=rb-4.0.3&q=85"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required>
                                <div class="invalid-feedback">
                                    Please enter a Username.
                                </div>
                                <div class="valid-feedback">
                                    looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="invalid-feedback">
                                    Please enter a Email.
                                </div>
                                <div class="valid-feedback">
                                    looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="invalid-feedback">
                                    Please enter a Password.
                                </div>
                                <div class="valid-feedback">
                                    looks good!
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-success btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>